language: python
python:
  - 3.5
  - 3.6


before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
install:
  - pip install -r requirements.txt
  - pip install coverage
  - pip install coveralls
script:
  - python setup.py develop
  - coverage run --source=src -m unittest discover tests
  - coverage report -m
after_success:
  - coveralls
